.social-networks {
  height: 40px;
  background: $black;

  &-container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    > img {
      height: 24px;
      margin-left: 10px;
    }
  }
}

nav {
  height: 80px;
  background: $blue;
  > div {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-items {
  height: 100%;
  width: 100%;
  display: none;
  > div {
    color: $white;
    margin-left: 40px;
    font-size: 1.4em;
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }
}

.nav-items-opened {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 150px;
  transition: all 0.4s linear;
  background-color: $blue;
}

.nav-icon {
  display: inline-block;

  cursor: pointer;
  @media (min-width: 768px) {
    display: none;
  }
  &-bar1,
  &-bar2,
  &-bar3 {
    width: 35px;
    height: 5px;
    background-color: $white;
    margin: 6px 0;
    transition: 0.4s;
  }

  &-toggled {
    .nav-icon-bar1 {
      transform: rotate(-45deg) translate(-9px, 6px);
    }
    .nav-icon-bar2 {
      opacity: 0;
    }
    .nav-icon-bar3 {
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }
}
